<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'programmer/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'programmer/style-base.css' %}">

    <title>Home</title>
</head>
<body>

<div style="padding-top: 2rem;" class="container">
    <a href="/"><h3 class="text-primary">C<span class="small-title">REATE</span>R<span class="small-title">EAD</span>U<span
            class="small-title">PDATE</span>D<span class="small-title">ELETE</span></h3></a>
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'programmer/bootstrap/js/bootstrap.min.js' %}"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

</body>
</html>